@model DoAnQuanLySach.Models.Userr

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin chi tiết</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên đăng nhập
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            Tên người dùng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Năm sinh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dateofbirth)
        </dd>

        <dt>
            Loại người dùng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeUser.TypeName)
        </dd>

    </dl>
</div>
<h4>Lịch sử giao dịch</h4>
<ul>
    @if (Model.Carts.Count > 0)
    {
        foreach (var item in Model.Carts)
        {
            if (item.UserID.ToString().CompareTo(Model.UserId.ToString()) == 0)
            {
                <li>
                    <a target="_blank" href="@Url.Action("Details", "Carts", new { id = item.CartId})">  Ngày mua: @item.Datebuy </a><span> | Tổng tiền: @item.Total</span>
                </li>
            }
        }
    }
</ul>
@if (Session["role"].ToString().CompareTo("1") == 0)
{
    <p>
        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.UserId }) |
        @Html.ActionLink("Quay lại", "Index")
    </p>
    }
